#high_back {
color:black;
background: #000 url('https://i.pinimg.com/564x/3f/53/00/3f53003655e0d1b55b2401806b39c274.jpg') no-repeat center top;
height: 500px;
background-size: cover;
background-attachment: fixed;
}
@media screen and (width > 600px) {
    #content #links {
        order: 2;
    }    
    #content #table {
        order: 3;
    }
}
#logo {
    width: 300px;
}
body {
    color: #fff;
    background-color: #7f9ab3;
}
header h1 {
    color: #fff;
    text-align: left;
    font-size: xx-large;
    letter-spacing: 4px;
    cursor: none;
}
#content {
    display: flex;
    flex-direction: column;
    width: 80%;
}
#navig {
    clear: both;
    text-align: center;
}
#links {
    order: 3;
}
nav {
    order: 1;
}

.button {
    max-width:200px; 
    background-color:#fff; 
    margin: 0.5cm;
    margin-top: 200px; 
    padding: 8px;
    border-radius:none;
    text-decoration:none;
    color: #7f9ab3;
}
.button:hover {
    transition-duration:0.7s;
    background-color: #7f9ab3;
    
}
.footer {
    background-color: #fff;
     position: fixed;
     right: 0;
     bottom: 0;
     text-align: center; 
     width: 99%;   
     font-size: 19px;
  font-weight: bold;
    color: #7f9ab3;  
   }

   .fortable {
    max-width:300px; 
    background-color:#7f9ab3; 
}
.even {
    background-color:#7f9ab3;
}
footer, #navig {
    text-align:center;
}
#navig {
    display: flex;
    flex-direction: column;
    gap: 10vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#tableform {
    display: flex;
    flex-direction: column;
    
}	
#tabl {
    order: 2;
}
#for {
    order: 1;
}
#map {
    display: none;
}
#header {
    display: flex;
    justify-content: center;
}
#bebigger {
    font-size: 16pt;
}	
@media screen and (min-width: 800px) {
    #navig {
        flex-direction:row;
    }
    #tabl {
        order: 1;
    }
    #for {
        order: 2;
    }
    #map-mobile {
        display: none;
    }
    #map {
        display: block;
    }
    #bebigger {
        font-size: 13pt;
    }
}
